.home_page {
    & .content_inner_width {
        &>.no_resume_box {
            height: 278px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #F9F9F9;
            &>img {
                margin-bottom: 25px;
            }
        }
        &>.has_resume_box {
            height: 278px;
            display: flex;
            padding: 50px;
            padding-bottom: 0;
            background-color: #EDEFF1;
            &>.col1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                &>img {
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                }
                &>p {
                    font-size: 16px;
                    color: #333;
                    margin-top: 20px;
                }
            }
            &>.col2 {
                color: #949494;
                font-size: 14px;
                flex: 1;
                margin-left: 40px;
                &>.line {
                    margin-bottom: 20px;
                }
                &>.line1 {
                    display: flex;
                    align-items: center;
                    &>p {
                        font-size: 24px;
                        color: #333;
                        margin-right: 15px;
                    }
                }
                &>.line3 {
                    &>.cutter {
                        margin: 0 10px;
                    }
                }
                &>.line4 {
                    &>.span1 {
                        margin-right: 55px;
                    }
                }
            }
        }
        &>.part1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 160px;
            margin-bottom: 20px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            &>.item {
                display: flex;
                align-items: center;
                &>.span1 {
                    font-size: 14px;
                    color: #999;
                    margin: 0 15px;
                }
                &>.span2 {
                    font-size: 20px;
                    color: var(--mainColor);
                }
            }
        }
        &>.part2 {
            background-color: #F8F8F8;
            margin-bottom: 20px;
            &>.up {
                background-color: var(--mainColor);
                padding: 0 36px;
                height: 50px;
                &>.p1 {
                    flex-grow: 1;
                    font-size: 14px;
                    color: #fff;
                }
                &>.p2 {
                    font-size: 12px;
                    color: #fff;
                }
            }
            &>.down {
                padding: 26px 36px;
                &>.p1 {
                    flex-grow: 1;
                    font-size: 14px;
                    color: var(--commonFontColor1);
                    &>span {
                        color: var(--mainColor);
                    }
                }
                &>.a1 {
                    display: block;
                    color: var(--mainColor);
                    font-size: 17px;
                }
            }
        }

        &>.part3 {
            padding: 47px 40px;
            background-color: #F8F8F8;
            margin-bottom: 40px;
            &>.title {
                font-size: 20px;
                color: var(--commonFontColor1);
                text-align: center;
                &>p {
                    display: inline-block;
                    border-bottom: 2px solid var(--mainColor);
                    padding-bottom: 8px;
                }
            }

            &>.recommand_list {
                margin-top: 20px;
                &>.item {
                    width: 353px;
                    height: 210px;
                    border: 1px solid #D4D4D4;
                    padding: 30px 30px 0;
                    margin-left: 30px;
                    margin-bottom: 30px;
                    float: left;
                    &:nth-child(3n-2) {
                        margin-left: 0;
                    }
                    &>.line1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 23px;
                        &>.p1 {
                            font-size: 16px;
                            color: #545454;
                        }
                        &>.p2 {
                            font-size: 18px;
                            color: #ff6e6e;
                        }
                    }
                    &>.line2 {
                        font-size: 14px;
                        color: #666;
                        display: flex;
                        justify-content: space-between;
                        &>.p2 {
                            font-size: 12px;
                        }
                    }
                    &>.line3 {
                        display: flex;
                        align-items: center;
                        margin: 10px 0;
                        &>img {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                        }
                        &>p {
                            margin-left: 20px;
                            font-size: 12px;
                            color: #666;
                        }
                    }
                    &>.progress_box {
                        display: flex;
                        align-items: center;
                        margin-top: 22px;
                        &>p {
                            font-size: 12px;
                        }
                        & .progress {
                            flex: 1;
                            padding-left: 10px;
                            &>>>.ivu-progress-outer {
                                padding-right: 0;
                            }

                            & .ivu-progress-bg {
                                background-color: #2385F7;
                            }
                        }
                        & .progress_info {
                            color: #FF7F7F;
                            position: absolute;
                            left: 46%;
                            top: 0px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
