.recharge_page {
    padding: 33px 34px 66px;
}
.step_box {
    height: 50px;
    width: 100%;
    background-color: #F6F6F6;
}

.recharge_list_box {
    margin-top: 52px;
    & .title {
        font-size: 14px;
        color: var(--commonFontColor1);
        padding-top: 12px;
        display: block;
    }
    & .recharge_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &>.recharge_item {
            width: 380px;
            height: 40px;
            border: 1px solid #aaa;
            transition: all linear .3s;
            border-radius: 6px;
            cursor: pointer;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            padding: 0 50px;
            &:hover,
            &.active {
                border: 1px solid var(--mainColor);
                &>.p1 {
                    color: #008cee;
                }
                &>.p2 {
                    color: #52aeee;
                }
            }
            &>.p1 {
                font-size: 20px;
                color: var(--commonFontColor);
                transition: all linear .3s;
            }
            &>.p2 {
                font-size: 14px;
                color: var(--commonFontColor2);
                text-align: center;
                flex: 1;
                transition: all linear .3s;
            }
        }
    }
}

.pay_type_list_box {
    margin-top: 52px;
    & .title {
        font-size: 14px;
        color: var(--commonFontColor1);
        padding-top: 16px;
        display: block;
    }

    & .pay_type_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &>.pay_type_item {
            padding: 9px 19px;
            border: 1px solid #E2E2E2;
            transition: all linear .3s;
            border-radius: 6px;
            cursor: pointer;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            &>.p1 {
                font-size: 16px;
                color: var(--commonFontColor1);
                transition: all linear .3s;
                line-height: 1;
            }
        }
    }
}
