.subtitle_header {
	height: 44px;
	background-color: #85BDFB;
	line-height: 44px;
	border-left: 2px solid var(--mainColor);
	color: #fff;
	font-size: 14px;
	padding-left: 17px;
}

.company_info_page {
	& .part{
		margin-bottom: 30px;
	}
	& .company_info_form {
		padding-top: 24px;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	}
}
